<!DOCTYPE html>
<html>
  <head>
    <title><%= today %></title>
  </head>
  <body>
    <main>
      <h1><%= today %></h1>
      <article id="log-content">
        <%- content %>
      </article>
    </main>
  </body>
</html>
